<!doctype html>
<html>
<head>
	<title>Luggage Recognizer</title>
  <meta charset='utf-8'>
<!-- ################# CSS STYLES ################## -->
      <style type="text/css">
          #video{border: 1px solid black; box-shadow: 2px 2px 3px black; width:576px; height:432px;}
          #photo{border: 1px solid black; box-shadow: 2px 2px 3px black; width:576px; height:432px;}
          #canvas{display:none;}
          .camera{width: 580px; display:inline-block;}
          .output{width: 580px; display:inline-block;}
          .contentarea{font-size: 16px; font-family: "Lucida Grande", "Arial", sans-serif; width: 1280px;}
      </style>
</head>

<!-- ################# the web page itself / HTML ################## -->
<body>
    <div class="contentarea">
      <h1>
        Luggage Recognizer - Web Interface
      </h1>
      <p>
        Currently only Firefox is supported, if you don't see video, try refreshing the page
      </p>
      <div class="camera">
        <video id="video">Video stream not available.</video>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box."> 
      </div>
      <br><br>
      <a id="PAUSE" style="padding:1ex 3ex 1ex 3ex; font-size:1.5em; border:1px solid #ccc; background-color:#37C; color:white; font-weight:bold;">PAUSE</a>
    </div>
</body>
</html>

<script>
// ######################   JAVASCRIPT   ########################
(function() {
    
  // The width and height of the captured photo. We will set the
  // width to the value defined here, but the height will be
  // calculated based on the aspect ratio of the input stream.
  var PAUSE = false;
  var width = 400;    // We will scale the photo width to this
  var height = 0;     // This will be computed based on the input stream

  // |streaming| indicates whether or not we're currently streaming
  // video from the camera. Obviously, we start at false.

  var streaming = false;

  // The various HTML elements we need to configure or control. These
  // will be set by the startup() function.

  var video = null;
  var canvas = null;
  var photo = null;
  var startbutton = null;

  function pausehandler(){
    if(PAUSE){
      video.play();
      PAUSE = false; 
      pbtn = document.getElementById('PAUSE').firstChild;
      pbtn.nodeValue = "PAUSE";
      console.log('unpaused');
    }
    else{
      video.pause();
      //takepicture();
      PAUSE = true; 
      pbtn = document.getElementById('PAUSE').firstChild;
      pbtn.nodeValue = "UNPAUSE";
      console.log('paused');
    }
    return 1;}

  function startup() {
      console.log('inside startup function');
    pbtn = document.getElementById('PAUSE');
    pbtn.addEventListener('click', pausehandler, false);    
    
    video = document.getElementById('video');
    canvas = document.getElementById('canvas');
    photo = document.getElementById('photo');
    startbutton = document.getElementById('startbutton');

    navigator.getMedia = ( navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
    navigator.getMedia({video: true,audio: false},
      function(stream) {
        if (navigator.mozGetUserMedia) {video.mozSrcObject = stream;}
        else {
          var vendorURL = window.URL || window.webkitURL;
          video.src = vendorURL.createObjectURL(stream);
        }
        video.play();
      },
      function(err) {console.log("An error occured! " + err);}
    );

    video.addEventListener('canplay', function(ev){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);     
        // Firefox currently has a bug where the height can't be read from
        // the video, so we will make assumptions if this happens.
        if (isNaN(height)) {height = width / (4/3);}
        video.setAttribute('width', width);
        video.setAttribute('height', height);
        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);
        streaming = true;
      }
    }, false);

    window.setInterval(function(){takepicture();},1000)
    clearphoto();
  }

  // Fill the photo with an indication that none has been captured.
  // perhaps unnecessary now and can probably be deleted
  function clearphoto() {
    var context = canvas.getContext('2d');
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);
  }
  
  // SEND IMAGE TO SERVER, GET RESPONSE IMAGE, DISPLAY IMAGE
  function sendPic(blob) {
            var data = new FormData();
            data.append("imagefile", blob, ("camera.png"));
            var oReq = new XMLHttpRequest();
            oReq.open("POST", "/data", false);
            oReq.send(data);
                oReq.onload = function(oEvent) {
                    if(PAUSE){return 0;}
                    if (oReq.status == 200) {
                        console.log("Uploaded");
                        console.log(oReq.response);
                        photo.setAttribute('src', oReq.response);
                    } else {
                        console.log("Error " + oReq.status + " occurred uploading your file.");
                    }
                };
            }

  // TAKE A PHOTO FROM WEBCAM; 
  // SEND WEBCAM IMAGE TO SERVER;
  // WAIT FOR RESPONSE WITH A PROCESSED IMAGE;
  // UPDATE CANVAS WITH THAT IMAGE
  // IF NO PHOTO WAS CAPTURED, CLEAR THE FRAME TO SHOW USER IT IS FROZEN / WEBCAM FAILURE
  function takepicture() {
    if(PAUSE){console.log('doing nothing while paused'); return 0;}
    else{
        //console.log('not paused, proceeding');
    }
    
    
    var context = canvas.getContext('2d');
    if (width && height) {
      canvas.width = width;
      canvas.height = height;
      context.drawImage(video, 0, 0, width, height);
    
      var iformat = 'image/jpeg';
      var data = canvas.toDataURL(iformat);

      var base64PrefixLength = ('data:'+iformat+';base64,').length;
      var bdata = data.slice(base64PrefixLength);
      var blob = new Blob([bdata,], {type: iformat});
      sendPic(blob);

    } else {
      clearphoto();
    }
  }

//-------------------------------------
  self.onmessage = function (event) {
    if (event.data === "start the worker") {
        console.log('starting worker')
        startup();
    }
  };
  



  window.addEventListener('load', startup, false);



})();

</script>
